body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Arial, sans-serif;
  color: #666565;
}

.modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
  text-align: center;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.6; /* Increase line height for better readability */
  font-family: "Courier New", Courier, monospace; /* Fixed-width font for alignment */
}

.csv-row {
  display: flex;
  padding: 5px 0; /* Add spacing between rows */
}

.csv-cell {
  padding: 0 10px; /* Add padding to separate cells */
  border-right: 1px solid #ddd; /* Add a right border to separate cells */
  width: 150px;
}

.csv-cell:last-child {
  border-right: none; /* Remove border from the last cell */
}
